language: node_js
node_js:
- node
install:
- npm install
- npm run build
script:
- echo "Job Complete"
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: feature/skeleton
