language: node_js
node_js:
- node
install:
- curl -sSL https://github.com/googlecodelabs/tools/releases/download/v2.2.0/claat-linux-amd64 -o /usr/bin/claat
- chmod +x /usr/bin/claat
- npm install
- npm run build
script:
- echo "Job Complete"
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: feature/skeleton
